Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  performance-*,
  modernize-use-nodiscard,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-use-emplace,
  modernize-use-noexcept,
  modernize-make-shared,
  modernize-make-unique,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-redundant-member-init,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance,
  readability-string-compare,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  misc-unused-parameters,
  misc-unused-using-decls,
